*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar style  */
.nav-container{
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0.5em 120px;
}
.nav-list {
    display: flex;
    gap: 2em;
    
}
.nav-item , li{
    list-style-type: none;
}
button{
    background-color: #30B868;
    color: #fff;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;

}
